<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>COOKIES</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <h1>COOKIES by the POUND</h1>
    <section>
      <div class="grid-container">
        <button type="button" class="collapsible"><img src="https://images.pexels.com/photos/890577/pexels-photo-890577.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="bondPaper">Chippery</button>
        <div class="content">
          <p> <ul>
            <li>$15.00</li>
            <li>Chocolate Chip Cookies</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
          </ul></p>
        </div>
        <button type="button" class="collapsible"><img src="https://bake-eat-repeat.com/wp-content/uploads/2018/06/Lemon-Cookies-3-1024x683.jpg" alt="uncoatedPaper">Lemonny</button>
        <div class="content">
          <p><ul>
            <li>$18.00</li>
            <li>Lemon Cookies</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
          </ul></p>
        </div>
        <button type="button" class="collapsible"><img src="https://www.noracooks.com/wp-content/uploads/2019/08/IMG_7489.jpg" alt="coatedPaper">Pumpkinny</button>
        <div class="content">
          <p><ul>
            <li>$15.00</li>
            <li>Pumpkin Cookies</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
          </ul></p>
        </div>



      </div>
    </section>
    <script src="main.js"></script>
  </body>
</html>
