<head>
  <link rel="stylesheet" href="main.css">

</head>
<body>
  <h1>Freds Friendly Bakery at Vivid Reader</h1>
  <form id = "searchbar" action="/" method="post">
    <input name="query" />
    <button> Yum </button>
  </form>
  <div class = "buttonsCat">
    <h2>CAKES</h2>
    <h2>MUFFIN</h2>
    <h2>COOKIES</h2>
 <button type="button" name="cakeButton"><a href="/cakepage"><img src="/pics/cakeHome.jpg" alt="" /></a></button>
 <button type="button" name="muffinButton"><a href="/muffinpage"><img src="/pics/muffinHome.jpg" alt=""/></a></button>
 <button type="button" name="cookieButton"><a href="/cookiepage"><img src="/pics/cookieHome.jpg" alt=""/></a></button>
 </div>
</body>
