<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MUFFINS</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <h1>MUFFINS</h1>
    <section>
      <div class="grid-container">
        <button type="button" class="collapsible"><img src="https://cdn.apartmenttherapy.info/image/fetch/f_auto,q_auto:eco/https%3A%2F%2Fstorage.googleapis.com%2Fgen-atmedia%2F3%2F2019%2F01%2F4d4764df3d39aaa67d86030a90de8df5382087c7.jpeg" alt="bondPaper">Chocolate Drip Cake</button>
        <div class="content">
          <p> <ul>
            <li>$35.00</li>
            <li>Ice Cream or Regular</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
          </ul></p>
        </div>
        <button type="button" class="collapsible"><img src="https://prettysimplesweet.com/wp-content/uploads/2013/12/ChocolateMuffins-3.jpg" alt="uncoatedPaper">Cookies and Cream Cake</button>
        <div class="content">
          <p><ul>
            <li>$28.00</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
          </ul></p>
        </div>
        <button type="button" class="collapsible"><img src="https://prettysimplesweet.com/wp-content/uploads/2018/10/Pumpkin-Muffins.jpg" alt="coatedPaper"> Personalized Birthday Cakes</button>
        <div class="content">
          <p><ul>
            <li>$45.00</li>
            <li>Same Day Delivery</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
          </ul></p>
        </div>



      </div>
    </section>
    <script src="main.js"></script>
  </body>
</html>
